<div class="flex flex-col m-4 p-4 shadow-md rounded">
  <div class="flex flex-wrap">
    <button (click)="format('bold')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold</button>
    <button (click)="format('bold sans')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold Sans</button>
    <button (click)="format('bold italic')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold Italic</button>
    <button (click)="format('bold italic sans')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold Italic Sans</button>
    <button (click)="format('italic')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Italic</button>
    <button (click)="format('italic sans')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Italic Sans</button>
    <button (click)="format('monospace')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">MonoSpace</button>
    <button (click)="format('gothic')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Gothic</button>
    <button (click)="format('gothic bold')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Gothic Bold</button>
    <button (click)="format('doublestruck')"
      class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Doublestruck</button>
  </div>
  <div class="bg-green-100 m-2">
    <textarea id="content" name="content" class="bg-green-100"
      rows="10" col="1200"
      [(ngModel)]="content"></textarea>
  </div>
  <div>
    <div class="float-left">
      <span class="text-green-600 font-semibold">Word Count &nbsp;</span>
      <span class="text-green-600">200</span>
    </div>
    <div class="float-right">
      <button (click)="copyText()"
        class="px-4 py-1 mx-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Click to copy</button>
      <button (click)="copyText()"
        class="px-4 py-1 mx-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Tweet</button>
    </div>
  </div>
</div>
