<div class="flex flex-wrap">
  <button (click)="emitFormat('bold')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold</button>
  <button (click)="emitFormat('bold sans')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold Sans</button>
  <button (click)="emitFormat('bold italic')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold Italic</button>
  <button (click)="emitFormat('bold italic sans')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Bold Italic Sans</button>
  <button (click)="emitFormat('italic')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Italic</button>
  <button (click)="emitFormat('italic sans')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Italic Sans</button>
  <button (click)="emitFormat('monospace')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">MonoSpace</button>
  <button (click)="emitFormat('gothic')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Gothic</button>
  <button (click)="emitFormat('gothic bold')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Gothic Bold</button>
  <button (click)="emitFormat('doublestruck')"
    class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Doublestruck</button>
</div>
