<div class="flex flex-wrap">
  <button
  class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Underline</button>
  <button
  class="px-4 py-1 mx-1 my-1 text-sm text-green-600 font-semibold rounded border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">Strikethrough</button>
</div>
